<form class="form-horizontal" method="post">
	<fieldset>
		<legend>用户注册</legend>
		<div class="control-group">
			<label class="control-label" for="username">用户名</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="username" name="username">
				<p class="help-block">你的账户名称，用于登录和显示。</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">口令</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="password" name="password">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password-repeat">重复输入口令</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="password-repeat"
				name="password-repeat">
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">注册</button>
		</div>
	</fieldset>
</form>