<form method="post" action="/post" class="well form-inline center" style="text-align:
center;">
<input type="text" class="span8" name="post">
<button type="submit" class="btn btn-success"><i class="icon-comment icon-white">
</i> 发言</button>
</form>